{% extends "layout.html" %}
{% load static %}

{% block body %}
    <br>
    <div class="text-center">
        <img class="rounded" src={{game.cover.url}} width=300 height=300 alt={{game.title}}_Image></img>
        <h2><b> {{game.title}} </b></h2>
        <h4> Developers: {{game.developers}} </h4>
        <h6>Release Date: {{game.release_date}}</h6>
        <p>{{game.description}}</p>
    </div>

    <div class="container center">
        <div class="row justify-content-md-center">
            {% for rank in ranks %}
                <div class='col-1'>
                    <a href='{{game.id}}/{{rank}}'>
                    {% if cur_rank == rank %}
                        <img src='/static/Catalog/Ranks/Rank_{{rank}}.png' class="select" width=75 height=75 alt={{rank}}></img>
                    {% else %}
                        <img src='/static/Catalog/Ranks/Rank_{{rank}}.png' width=75 height=75 alt={{rank}}></img>
                    {% endif %}
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}